<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <h3>About Us</h3>
                <p class="random">
                    <br>
                    <br>
                    <br>
                    We check your BMI value to know how your body is and we tell you what diet plan and
                    exercises to make your body perfect. We also let you calculate your calorie intake per day
                    and tell you how much calorie should be taken according to the weight and BMI value.
                    you can chose your food from the given list and calculate your calorie intake.
                    We have seperate catogeries like breakfast,lunch, dinner. Every food item given in the
                    list has a particular calorie value
                </p>
            </div>
        </div>
    </header>
</body>
</html>